
  <div flex="75" flex-offset="5">
    <div layout="column">
      <div flex><h2>Certifications</h2></div>
      <div flex><hr/></div>
      <div flex class="well">

          <div flex flex-offset="5">
            <div layout="column">
              <div flex><h2>SWaM</h2></div>
              <div flex><p>The SWaM certification program  (Small, Women-owned, and Minority-owned Business) is a state program of the Commonwealth of Virginia. The purpose is to enhance procurement opportunities for SWaM businesses participating in state-funded projects.  When applying for this certification, it is required to specify which designation you wish to apply.</p></div>

                <div flex>
                  <div layout="column">
                    <div flex>

                        <div flex="5" class="header-dark header">1</div>
                        <div flex="40" class="header-light header"><span class="indent">SWaM Designations</span></div>
                      </div>
                    </div>
                    <div flex><br/></div>
                    <div flex>Select your SWaM Designations Below:</div>
                    <div flex><br/></div>
                    <div flex><md-checkbox ng-model="certificationApplicationData.small">Small</md-checkbox></div>
                    <div flex><md-checkbox ng-model="certificationApplicationData.micro">Micro (under 25 employees)</md-checkbox></div>
                    <div flex><md-checkbox ng-model="certificationApplicationData.women">Women Owned</md-checkbox></div>
                    <div flex><md-checkbox ng-model="certificationApplicationData.minority">Minority Owned</md-checkbox></div>
                    <div flex><md-checkbox ng-model="certificationApplicationData.veteran">Disabled Veteran Owned</md-checkbox></div>
                  </div>
                </div>
                <div flex>
                  <div layout="column">
                    <div flex>

                        <div flex="5" class="header-dark header">2</div>
                        <div flex="40" class="header-light header"><span class="indent">Business Types</span></div>
                      </div>
                    </div>
                    <div flex><br/></div>
                    <div flex>Which of the following describes your business?</div>
                    <div flex><br/></div>
                    <md-radio-group ng-model="certificationApplicationData.businessType">
                      <div flex><md-radio-button value="llc">LLC</md-radio-button></div>
                      <div flex><md-radio-button value="corporation">Corporation</md-radio-button></div>
                      <div flex><md-radio-button value="soleProprietorship">Sole Proprietorship</md-radio-button></div>
                      <div flex><md-radio-button value="partnership">Partnership</md-radio-button></div>
                      <div flex><md-radio-button value="llp">LLP</md-radio-button></div>
                      <div flex><md-radio-button value="jointVenture">Joint Venture</md-radio-button></div>
                      <div flex><md-radio-button value="franchise">Franchise</md-radio-button></div>
                      <div flex><md-radio-button value="brandNewBusiness">Brand New Business</md-radio-button></div>
                    </md-radio-group>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div flex class="well">
        <div flex="15" flex-offset="80"><a href="#/application/new"><div class="start-button">Start</div></a></div>
      </div>
    </div>
  </div>
</div>
