<div layout="row" layout-align="center center">
  <div layout="column">
    <div ng-hide="editableValue">
      <md-content class="md-no-momentum">
        <div layout="row" class="row-edit">
          <md-icon md-svg-src="client/icons/person.svg" ng-cloak class="material-icons" aria-label="Address"></md-icon>
          <md-input-container class="md-icon-float md-block">
            <label>Name</label>
            <input class="txtWidth" ng-model="viewAddress" type="text" ng-required="true">
          </md-input-container>
        </div>
        <div layout="row" class="row-edit">

          <md-icon md-svg-src="client/icons/phone.svg" ng-cloak class="material-icons" aria-label="Home Phone"></md-icon>
          <md-input-container md-no-float class="md-block">
            <label>Home Phone Number</label>
            <input class="txtWidth" ng-model="viewHomePhone" type="text" placeholder="Phone Number" ng-required="true">
          </md-input-container>
        </div>
        <div layout="row" class="row-edit">
          <md-icon md-svg-src="client/icons/phone.svg" ng-cloak class="material-icons" aria-label="Work Phone"></md-icon>
          <md-input-container class="md-block">
            <label>Work Phone Number</label>
            <input class="txtWidth" ng-model="viewWorkPhone" type="text"
                  placeholder="Phone Number" ng-required="true">
          </md-input-container>
        </div>
        <div layout="row" layout-align="space-between end">
          <div layout="column">
            <a style="color:white" ng-href="/#/profile" class="arrow_forward">
              <md-icon md-svg-src="client/icons/arrow_back.svg" ng-cloak class="material-icons" aria-label="Go back"></md-icon>
            </a>
          </div>
          <div layout="column" class="arrow_forward">
            <md-icon md-svg-src="client/icons/check.svg" ng-cloak class="material-icons" ng-hide="editMyProfile"
                     aria-label="Go back" ng-click="editProfile()"></md-icon>
          </div>
        </div>
      </md-content>
    </div>
  </div>
</div>
