<div className="inbox">
  <md-content flex="">
    <md-list>
      <md-list-item class="md-3-line" ng-repeat="inbox in inboxData">
        <div class="md-avatar">
          <i class="material-icons" style="width: 48px;margin: 16px;border-radius: 48px">account_circle</i>
        </div>

        <div class="md-list-item-text">
          <h3>{{inbox.title}}</h3>
          <p>
            {{inbox.from}}
          </p>
        </div>
        <md-divider inset=""></md-divider>
      </md-list-item>
    </md-list>

  </md-content>
</div>