<div class="profile">

  <md-toolbar class="md-tall md-accent" layout="column">
    <div class="md-toolbar-tools">
      <h2>
        <span>{{data}}</span>
      </h2>
    </div>
  </md-toolbar>
  <br>

  <div class="edit-profile">
    <div edit-my-profile />
  </div>

  <div class="parent-name">
    <b>Parent Name (First Name, Last Name, Middle Name)</b>: Rachel Marie Robins
  </div>

  <div class="parent-address">
    <b>Parent Home Address (1st Line Address, 2nd Line Address, City, State, Zip)</b>:
    {{storage.parent_home_address}}
  </div>
  <div class="parent-home-number">
    <b>Parent Home Phone (area code, phone number)</b>:
    {{storage.parent_home_phone}}
  </div>
  <div class="parent-phone-number">
    <b>Cell or Work Phone (area code, phone number)</b>:
    {{storage.parent_work_number}}
  </div>

  <div class="Parent-dob">
    <b>Parent DOB (YYYY-MM-DD)</b>: 6/20/1984
  </div>
  <div class="Parent-gender">
    <b>Parent Gender</b>: Female
  </div>
  <div class="Parent-ssn">
    <b>Parent SSN (eg. 123-44-5123)</b>: 333-44-5555
  </div>
  <div class="caseworker-name">
    <b>Case Worker Name (First Name, Last Name)</b>: Francis Romero
  </div>
  <div class="caseworker-phone-number">
    <b>Phone Number</b>: 626-582-1984
  </div>
  <div class="child-fullname">
    <b>Child (First Name, Middle Name, Last Name)</b>: Margaret Ann Robins
  </div>
  <div class="child-pref-name">
    <b>Child Preferred Name</b>: Molly
  </div>
</div>