<div layout="row" layout-align="center center">

<div layout="column">
  <div class="profile">
    <div class="edit-profile">
      <div edit-my-profile />
    </div>

    <div layout="row">
      <div layout="column" flex="40">
          <img src="client/css/profile.png" ng-show="noneditable" width="150" height="170">
      </div>
      <div layout="column">
        <div ng-show="noneditable">
          <div class="parent-name">
            <h3 class=".md-display-1">Rachel Marie Robins</h3>
          </div>
        </div>
          <div ng-show="editableFields">
            <div class="parent-address">
              <p><h4 class=".md-title">{{storage.parent_home_address}} </h4></p>
            </div>
            <div class="parent-home-number">
              H: {{storage.parent_home_phone}}
            </div>
            <div class="parent-phone-number">
              W: {{storage.parent_work_number}}
            </div>
          </div>
      </div>

      <div layout="column">
        <i class="material-icons" ng-show="noneditable" class="check_mark" ng-click="editProfile()">mode_edit</i>
        <i class="material-icons" ng-hide="editableFields" ng-click="editProfile()">check</i>
      </div>
    </div>



    <div ng-show="noneditable">
      <hr>
      <div layout="row">
        <div layout="column" flex="40">
          <div class="caseworker-name">
            <h4 class=".md-headline">Case Worker</h4>
          </div>
        </div>

        <div layout="column">
          Francis Romero<br>
          951-582-1984
        </div>
      </div>

      <br>
      <div layout="row">
        <div layout="column" flex="40">
          <div class="child-fullname">
            <h4 class=".md-headline">Child</h4>
          </div>
        </div>

        <div layout="column">
          Margaret <div class="child-pref-name">"Molly"</div> Robins
        </div>
      </div>
    </div>
  </div>
</div>
  </div>