.well {
  background-color: gainsboro;
  margin-top: 2px;
}
.header-dark {
  background-color: black;
  color: white;
  text-align: center;
}
.header-light {
  background-color: grey;
  color: white;
}

.header {
  padding: 10px 0 10px 0;
}

.indent {
  padding-left: 5px;
}

.start-button {
  padding: 10px 0 10px 0;
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar).md-accent, md-toolbar:not(.md-menu-toolbar).md-accent {
  background: #2196F3;
}

md-toolbar.md-default-theme.md-hue-2:not(.md-menu-toolbar), md-toolbar.md-hue-2:not(.md-menu-toolbar) {
  background: #2196F3;
}

.arrow_forward {
  cursor: pointer;
  color: #1464F6;
}

.check_mark {
  cursor: pointer;
  color: #1464F6;
}

